<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar>
        <h1>Contacts</h1>
    </md-toolbar>
    <div layout-padding>
        <md-autocomplete md-search-text="vm.searchText"
                         md-items="item in vm.users | filter:vm.searchText"
                         md-item-text="item.name"
                         md-min-length="3"
                         placeholder="filter">
            <md-item-template>
                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
                No user matching "{{vm.searchText}}" were found.
            </md-not-found>
        </md-autocomplete>
    </div>

    <md-content class="scrollable-nav-content">
        <md-list>
            <md-list-item ng-repeat="user in vm.users | filter:vm.searchText | orderBy:'firstName'">
                <md-button ng-click="vm.selectUser(user)"
                           ng-class="{'selected': user === vm.selected }" aria-label="">
                    <md-icon md-svg-icon="{{user.avatar}}" class="avatar" aria-label=""></md-icon>
                    {{user.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>

    <md-fab-speed-dial md-direction="up"
                       class="md-fling md-fab-bottom-right">
        <md-fab-trigger>
            <md-button class="md-fab" aria-label="">
                <md-icon md-svg-icon="menu" aria-label=""></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini"
                       ng-click="vm.addUserContact($event)" aria-label="">
                <ng-md-icon icon="add" aria-label=""></ng-md-icon>
                <md-tooltip md-direction="left">Add contact</md-tooltip>
            </md-button>
            <md-button class="md-fab md-raised md-mini"
                       ng-click="vm.removeUserContact($event)" aria-label="">
                <ng-md-icon icon="delete" aria-label=""></ng-md-icon>
                <md-tooltip md-direction="left">Delete contact</md-tooltip>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial> 
    <!--
    <md-button class="md-fab md-fab-bottom-right" aria-label="" ng-click="vm.addUserContact($event)">
        <ng-md-icon icon="add" aria-label=""></ng-md-icon>
    </md-button>
        -->
</md-sidenav>