<md-content layout-padding>
    <form name="noteForm" ng-submit="vm.addNote()" ng-init="vm.setFormScope(this)">
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Note text</label>
                <input name="notetext" ng-model="vm.newNote.noteText" required />
                <div ng-messages="noteForm.notetext.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-datepicker name="notedate" ng-model="vm.newNote.noteDate"
                           md-placeholder="Enter date"
                           class="date-row" required>
            </md-datepicker>
           

            <div class="md-actions">
                <md-button class="md-primary md-raised date-row"
                           type="submit"
                           ng-disabled="noteForm.$invalid">
                    Add
                </md-button>
            </div>
        </div>
    </form>
</md-content>